:root {
    --fuente-heading: 'PT Sans', sans-serif;
    --fuente-parrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #fff;
    --negro: #000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}






/* globales */

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h2, h4 {
    font-family: var(--fuente-heading);
}

h2, h3, h4 {
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2;
}

h4 {
    font-size: 2.8rem;
}

img {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-parrafos);
    font-size: 2rem;
}



/* utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.center-text {
    text-align: center;
}